
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-part, .mid-part{
    display: flex;
    justify-content: space-between;
    
    align-items: center;

}

span{
    margin: 1em 2em;
}

input[type="password"]{
    width: 100%;
}

h2{
    margin-bottom: 0.8em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
